<p id="notice"><%= notice %></p>

<h1>Shops</h1>
 <%= link_to 'Go To Things On Sale', sale_path %>
 <br>
 <%= link_to 'Requests', requests_path %>
 <br>
  <%= link_to 'Manage Your Requests', newrequest_path %>
  <br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Category</th>
      <th scope="col">Excost</th>
      <th scope="col"></th>
    </tr>
  </thead>


    <% @shops.each do |shop| %>
      <tr>
        <td><%= shop.title %></td>
        <td><%= shop.category %></td>
        <td><%= shop.excost %></td>
        <td><%= link_to 'Show', shop %></td>
        <td><%= link_to 'Edit', edit_shop_path(shop) %></td>
        <td><%= link_to 'Sold Out', shop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shop', new_shop_path %>
