<p id="notice"><%= notice %></p>

<h1>Requests</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Description</th>
      <th scope="col">Category</th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
    <% @requests.each do |request| %>
      <tr>
        <td><%= request.description %></td>
        <td><%= request.category %></td>
        <td><%= link_to 'Show', request %></td>
        <td><%= link_to 'Edit', edit_request_path(request) %></td>
        <td><%= link_to 'Got the Item', request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Request', new_request_path %> |
<%= link_to 'Back', root_path %>